.m-canvas-component {

  header {

    .m-canvas-img {
      width: 200px;
      height: 200px;
    }

    .m-canvas-copy_img {
      width: 100%;
      height: auto;
      display: none;
    }

    #m-canvas {
      width: 600px;
      height: 600px;
    }
  }

  main {
    width: 100%;
    text-align: center;

    .m-line_canvas {
      //width: 700px;
      //height: 700px;
      border: 1px solid #61dafb;
    }
  }
}


#m-canvas {
  border: 1px solid #61dafb;
}